*{
  margin: 0px;
  padding: 0px;
  font-family: Tahoma, sans-serif;
}

h1{
  margin: 30px;
}

h3{
  margin: 20px;
}

#gp {
    margin: 35px 0px;
}

.inputGroup{
  margin:20px 0px;
}

#inputSection{
  position: relative;
  margin-left: 30px;
  width:fit-content;
  border: black 2px solid;
  padding: 0px 30px;
  border-radius: 8px;
}

input{
  width: 4ch;
  margin-right: 0px;
  text-align: right;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.units{
  position: relative;
  font-size: 0.8em;
  margin-left: 3px;
}

#frame{
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin: 14px 60px;
  padding: 0px;
  visibility: hidden;
}

#generate{
  margin: 20px 60px;
  width: fit-content;
}

#downloadButton{
  margin: 15px;
}

#explanation{
  margin: 30px 60px;
}
