*{
  margin: 0px;
  padding: 0px;
  font-family: Tahoma, sans-serif;
}

h1{
  margin: 30px;
}

h3{
  margin: 20px;
}

#gp {
    margin: 30px;
}

.inputSection{
  margin:20px;
}

input{
  width: 60px;
  margin-right: 30px;
}

#frame{
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin: 14px 60px;
  padding: 0px;
  visibility: hidden;
}

#generate{
  margin: 20px;
}

#downloadButton{
  margin: 15px;
}

#explanation{
  margin: 30px 60px;
}
input[type="button"]{ 
  border: 1 solid;
} 